################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules/@types/node
/test/schema1.json
/test/schema2.json
